body {
    font-family: Arial, sans-serif;
    background-color: #2C2F38;
    color: white;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #1A1F26;
    padding: 15px;
    text-align: center;
}

#control-panel {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group input,
.input-group select {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #555;
    color: white;
}

#packet-capture {
    padding: 20px;
    background-color: #1E2125;
    margin: 20px;
    height: 400px;
    overflow-y: auto;
    border-radius: 8px;
    border: 2px solid #444;
}

#network-traffic-chart {
    margin-top: 30px;
    padding: 20px;
}

.packet {
    padding: 10px;
    background-color: #444;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    color: #ccc;
}

.packet .time {
    color: #8f8;
}

.packet .mac {
    color: #8af;
}

.packet .ssid {
    color: #f8a;
}

button {
    padding: 10px;
    background-color: #0052cc;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #003d99;
}
